<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mybudget.mapper.UserMapper">
    <insert id="insertUser">
        INSERT INTO USER (
                           EMAIL,
                           PASSWORD,
                           NICKNAME,
                           CREATED_AT
        ) VALUES (
                  #{email},
                  #{password},
                  #{nickname},
                  NOW()
        )
    </insert>
    <select id="findUserByEmail" resultType="com.example.mybudget.domain.User">
        SELECT ID,
               EMAIL,
               PASSWORD,
               NICKNAME,
               CREATED_AT
          FROM USER
         WHERE EMAIL = #{email}
    </select>
    <select id="findUserByEmailAndPassword" resultType="com.example.mybudget.domain.User">
        SELECT *
          FROM USER
         WHERE EMAIL = #{email}
           AND PASSWORD = #{password}
    </select>
</mapper>